@import "inputs";
@import "components1";
@import "table1";
@import "./variables";

// share
@mixin page-content {
  margin: $page-content-margin;
}

@mixin page-content-parts {
  @include center-column;
}

@mixin page-content-part {
  @include center;

  width: $page-part-width;

  .part-content {
    display: flex;
    justify-content: center;
    width: $page-part-content-width;
  }
}

@mixin page-content-part-top {
  background: $page-part-top-background;
}

@mixin page-content-part-top-tabs($page-tabs-width) {
  width: 100%;
  margin: $page-top-tabs-margin;

  @include tabs($page-tabs-width);
}

@mixin page-content-part-bottom {
  background: $page-part-bottom-background;
  padding: $page-part-bottom-padding;
}

// search
@mixin page-content-filters() {
  width: $page-bottom-filters-width;
  margin: $page-bottom-filters-margin;

  @include collapse-expand-container;

  sfc-collapse-expand-container {
    margin-bottom: 1em;
  }
}

@mixin page-content-result() {
  width: $page-bottom-result-width;
  margin: $page-bottom-result-margin;

  .filters-preview {
    display: flex;
    align-items: center;
  }

  .table {
    @include table($color-2, $color-2);
  }
}

// view
