$search-page-content-margin: 2em 0 0 0;
$search-page-content-width: 70%;
$search-page-part-width: 100%;
$search-page-top-background: $color-0;
$search-page-input-name-width: 50%;
$search-page-tabs-width: 30%;
$search-page-bottom-background: $color-2;
$search-page-filters-width: 20%;
$search-page-result-width: 80%;
