@import "ngx-sfc-common/styles";
@import "variables1";

:host {
  .container {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em 2em;

    @include theme-value(background, $background-container-default, $background-container-dark);

    .header {
      sfc-title {
        ::ng-deep > .container {
          .title {
            flex-wrap: nowrap;

            .label {
              margin-right: 1em;
            }

            sfc-icon-tooltip {
              margin-left: 1em;
            }
          }
        }
      }
    }

    .content {
      padding: 0.5em 0;
    }
  }
}
