@use "ngx-sfc-common/styles/index" as *;
@import "share/components/features/player/search/base/base-search-players.component";

:host {
  width: 100%;

  .container {
    .content {
      width: 100%;

      .actions {
        display: flex;
        justify-content: flex-end;
        padding-top: 1em;

        sfc-button {
          ::ng-deep .button {
            font-weight: bold;
          }
        }
      }

      .filters {
        margin: 1em 0;
      }
    }
  }
}
