<div class="container">
    <div class="content">
        <div *ngIf="photo" class="photo">
            <sfc-avatar [radius]="radius" [stroke]="stroke" [progress]="rating" [data]="avatarModel"
                [progressModel]="avatarProgressModel" [badges]="avatarBadges">
            </sfc-avatar>
        </div>

        <div *ngIf="info" class="info">
            <h3>{{model.firstName}} {{model.lastName}}</h3>
            <p>
                <ng-container *ngIf="position || age">{{position?.value || age }} • </ng-container>
                <span>{{model.city}}</span>
            </p>
            <sfc-stars [value]="stars" [sfcComponentSize]="ComponentSize.Small"></sfc-stars>
            <sfc-status *ngIf="status" [label]="status.value"></sfc-status>
        </div>

        <div *ngIf="actions.length" class="actions">
            <sfc-dropdown-menu [items]="actions" [bordered]="false" [filled]="true"
                [position]="[Position.Bottom, Position.Center]" [sfcComponentSize]="ComponentSize.Small">
            </sfc-dropdown-menu>
        </div>
    </div>
</div>