@use "ngx-sfc-common/styles/index" as *;
@import "mixins";

:host {
  .container {
    @include center-wrap;

    height: 100%;

    .element {
      @include center;

      flex-direction: column;
      padding: 1em 0.5em;

      .label {
        text-align: center;
        padding: 0.3em 0;

        h4 {
          @include theme-color($color-default, $color-0);

          margin: 0;
        }

        span {
          @include theme-color($color-7, $color-5);

          font-size: 0.7em;
          padding-top: 0.5em;
        }
      }

      sfc-progress-circle {
        display: inline-block;
      }
    }

    sfc-delimeter {
      height: 7em;
    }
  }
}
