<div class="container">
    <div class="content">
        <div class="parts">
            <div class="part">
                <sfc-progress-circle [progress]="rating"></sfc-progress-circle>

                <div class="label">
                    <h4>{{Localization.AVERAGE.LABEL}}</h4>
                    <span>{{averageDescription}}</span>
                </div>
            </div>

            <sfc-delimeter *ngIf="delimeter" [direction]="Direction.Vertical"></sfc-delimeter>

            <div class="part">
                <sfc-progress-circle [progress]="value" [total]="total" [getColor]="getProgressColorDynamicallyFunc">
                </sfc-progress-circle>

                <div class="label">
                    <h4>{{Localization.TOTAL.LABEL}}</h4>
                    <span>{{totalDescription}}</span>
                </div>
            </div>
        </div>
    </div>
</div>