@import "ngx-sfc-common/styles";
@import "common";
@import "components1";

:host {
  width: 100%;

  .container {
    .content {
      .parts {
        @include wrap-row(1em);

        .part {
          @include wrap-column(1em);

          .part-content {
            @include wrap-row(1em);

            .panels {
              display: flex;
              justify-content: space-evenly;
              flex-wrap: wrap;

              sfc-info-panel {
                margin: 0.5em;
                flex-grow: 1;
              }
            }

            .charts {
              @include wrap-row(1em);
              @include panel;

              sfc-panel {
                width: 25em;

                .panel-content {
                  sfc-chart {
                    display: inline-block;
                    width: 100%;
                  }

                  p {
                    @include text-center($color-7, 0.8em);
                  }
                }

                &.games {
                  flex: 1 1 calc(100% - 0.8em);
                }
              }
            }
          }
        }
      }
    }
  }
}
