<div class="container" [formGroupName]="SchemeTeamProfileEditPart.General">
    <sfc-title [label]="Localization.TITLE.LABEL" [description]="Localization.TITLE.DESCRIPTION">
    </sfc-title>

    <div class="content">
        <div class="rows">
            <div class="row">
                <div class="column">
                    <sfc-text-input id="name" formControlName="name" [bordered]="true"
                        [label]="Localization.INPUT.NAME.LABEL"
                        [placeholder]="Localization.INPUT.NAME.PLACEHOLDER"
                        [helperText]="Localization.INPUT.NAME.HELPER_TEXT" [validations]="{
                            'required': ValidationLocalization.REQUIRED,
                            'maxlength': ValidationLocalization.MAX_LENGTH
                        }">
                    </sfc-text-input>
                </div>
            </div>

            <div class="row">
                <div class="column comment">
                    <sfc-text-area-input id="comment" formControlName="comment" [bordered]="true"
                        [label]="Localization.INPUT.COMMENT.LABEL"
                        [placeholder]="Localization.INPUT.COMMENT.PLACEHOLDER"
                        [helperText]="Localization.INPUT.COMMENT.HELPER_TEXT" [validations]="{
                            'required': ValidationLocalization.REQUIRED,
                            'maxlength': ValidationLocalization.MAX_LENGTH
                        }">
                    </sfc-text-area-input>
                </div>
            </div>
        </div>
    </div>
</div>