@import "common";
@import "inputs";
@import "components";
@import "./variables";

@mixin page() {
  .container {
    display: flex;
    justify-content: center;

    sfc-title {
      ::ng-deep .container {
        sfc-icon-tooltip {
          a {
            font-size: 0.7em;
          }
        }
      }
    }

    .content {
      width: 80%;

      .title {
        sfc-title {
          ::ng-deep .container {
            sfc-icon-tooltip {
              a {
                font-size: 0.7em;
              }
            }
          }
        }
      }

      .parts {
        display: flex;
        justify-content: center;

        .part {
          .sub-part {
            display: flex;
            flex-direction: column;
            width: 100%;
          }
        }
      }
    }
  }
}
