@use "ngx-sfc-common/styles/index" as *;

:host {
  width: 100%;

  .container {
    @include center;

    flex-direction: column;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      font-weight: bold;

      @include theme-value(color, $color-default, $color-dark);

      .title {
        align-self: flex-start;
        font-size: 0.8em;
      }

      .count {
        margin: 0;
        font-size: 0.7em;

        span {
          color: $color-hover-default;
        }
      }
    }

    .items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      sfc-player-list-item {
        margin: 0.2em 0;
      }

      sfc-player-icon-item {
        width: 33%;
      }

      &:empty {
        padding: 0.5em 0;
      }
    }

    sfc-no-data {
      width: 100%;
      padding: 0.5em 0;
    }
  }
}
