@use "ngx-sfc-common/styles/index" as *;

:host {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.1em;
    width: 7em;
    border: 1px solid;

    @include theme-value(border-color, $color-default, $color-dark);

    border-radius: 1em;
    transition: border-color 0.5s ease;
  }

  &.active {
    .container {
      border-width: 2px;
      border-color: $color-hover-default;
    }
  }

  &.disabled {
    &:not(.active) {
      .container {
        @include theme-value(border-color, $color-disabled-default, $color-disabled-dark);
      }
    }
  }
}
