<div class="container">
    <sfc-title [label]="'Localization.TITLE.LABEL'" [description]="'Localization.TITLE.DESCRIPTION'"
        [icon]="faQuestionCircle" [tooltip]="'Localization.TITLE.TOOLTIP'" [sfcComponentSize] [customSize]="1"
        [delimeter]="true">
    </sfc-title>

    <div class="content">
        <div class="parts">
            <div class="part">
                <div class="part-content">
                    <div class="filters">
                        <form [formGroup]="predicateForm" autocomplete="off">
                            <div class="name" [formGroupName]="RequestGamePlayerSearchFilterPart.Player">
                                <sfc-text-input id="name" formControlName="name" [sfcFocusInput]="false"
                                    [showPlaceholderOnFocus]="true" [label]="CommonConstants.EMPTY_STRING"
                                    [placeholder]="'Type player name'" [bordered]="false" [sfcComponentSize]
                                    [customSize]="2">
                                </sfc-text-input>

                                <sfc-delimeter></sfc-delimeter>
                            </div>

                            <div class="statuses" [formGroupName]="RequestGamePlayerSearchFilterPart.Request">
                                <div [formGroupName]="RequestGamePlayerFilterPart.General">
                                    <sfc-bubbles-input id="statuses" formControlName="statuses" [items]="statuses"
                                        [multiple]="false" [helperText]="'Choose Request game statuses'">
                                    </sfc-bubbles-input>
                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="result">
                        <div class="filters-preview">
                            <sfc-filter-tags [metadata$]="metadata$" [form]="predicateForm"></sfc-filter-tags>
                        </div>

                        <div class="table">
                            <sfc-table [columns]="columns" [predicate$]="predicate$" [loader]="loader"
                                [pagination]="TableConstants.PAGINATION" [position]="Position.Center"
                                [columnsShowOnInit]="false" [columnsToggle]="true" [showTotal]="true"
                                [showLoading]="showLoading" [paginationCount]="TableConstants.PAGINATION_COUNT"
                                [paginationLimits]="true"
                                [showColumnsLabel]="TableLocalization.TABLE.COLUMNS_SHOW_LABEL"
                                [hideColumnsLabel]="TableLocalization.TABLE.COLUMNS_HIDE_LABEL"
                                [totalLabel]="TableLocalization.TABLE.TOTAL_LABEL"
                                [dataListLabel]="TableLocalization.TABLE.DATA_LIST_LABEL"
                                [dataCardsLabel]="TableLocalization.TABLE.DATA_CARDS_LABEL"
                                [notFoundLabel]="TableLocalization.TABLE.NOT_FOUND_LABEL">
                                <ng-template [sfcTemplateReference]="TableTemplate.Row" let-row>
                                    <sfc-request-game-player-search-table-row [model]="row.model" [columns]="row.columns"
                                        [sfcComponentSize] [customSize]="0.8">
                                    </sfc-request-game-player-search-table-row>
                                </ng-template>

                                <ng-template [sfcTemplateReference]="TableTemplate.Card" let-card>
                                    <sfc-request-game-player-search-table-card [model]="card.model"
                                        [columns]="card.columns" [sfcComponentSize] [customSize]="0.8">
                                    </sfc-request-game-player-search-table-card>
                                </ng-template>
                            </sfc-table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- accept player request modal -->
    <sfc-request-game-player-accept-modal [actions]="[RequestAction.GameTeam]"></sfc-request-game-player-accept-modal>

    <!-- decline player request modal -->
    <sfc-request-game-player-decline-modal [actions]="[RequestAction.GameTeam]"></sfc-request-game-player-decline-modal>
</div>