<div class="container">
    <div class="content">
        <form *ngIf="form" [formGroup]="form" autocomplete="off">
            <div class="parts">
                <div class="part top">
                    <div class="part-content">
                        <div class="preview">
                            <sfc-game-team-preview [form]="form"></sfc-game-team-preview>
                        </div>

                        <div class="steps">
                            <sfc-form-progress [form]="form"></sfc-form-progress>
                        </div>
                    </div>
                </div>

                <div class="part bottom">
                    <div class="part-content">
                        <div class="routes">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>