<div class="container">
    <div class="image">
        <img #image [src]="item.image" (load)="{}" />
        <a *ngIf="item.link" href="{{item.link}}">
            <sfc-button [text]="BUTTON_LINK_TEXT" [iconBefore]="faLink"
                [types]="[ButtonType.Rounded, ButtonType.Filled]" [sfcComponentSize] [customSize]="sizeFactor">
            </sfc-button>
        </a>
    </div>
    <h1>{{item.title}}</h1>
    <div class="raiting" *ngIf="item.raiting">
        <fa-icon [icon]="faHeart"></fa-icon>
        <p>{{item.raiting}}</p>
    </div>
</div>