<sfc-base-header [navigations]="navigations">
    <div class="notifications">
        <div class="notification" [sfc-tooltip]="MESSAGES_TOOLTIP_TEXT" [tooltipPosition]="Position.Bottom">
            <fa-icon [icon]="faEnvelope"></fa-icon>
        </div>
        <div class="notification" [sfc-tooltip]="NOTIFICATIONS_TOOLTIP_TEXT" [tooltipPosition]="Position.Bottom">
            <fa-icon [icon]="faBell"></fa-icon>
        </div>
    </div>
    <div class="profile">
        <div class="create-profile" *ngIf="!playerService.playerCreated">
            <a routerLink="/profiles/create">
                <fa-icon [icon]="faPlus"></fa-icon>
                <span i18n="@@core.component.header-authenticated.create-profile">Create profile</span>
            </a>
        </div>

        <sfc-dropdown-menu [hideOnClickOutside]="true" [items]="actions" [position]="[Position.Bottom]"
            [defaultDots]="false">
            <sfc-avatar [data]="avatarModel" [radius]="40" [sfcComponentSize]="ComponentSize.Small" [stroke]="1"
                [progressModel]="avatarProgressModel" [badges]="avatarBadges">
            </sfc-avatar>
        </sfc-dropdown-menu>
    </div>
</sfc-base-header>