<div class="container">
    <div class="content">
        <sfc-avatar *ngIf="logo" [radius]="radius" [stroke]="stroke" [progress]="rating" [data]="avatarModel"
            [progressModel]="avatarProgressModel" [badges]="avatarBadges">
        </sfc-avatar>

        <div *ngIf="info" class="info">
            <h3>{{model.name}}</h3>
            <span>{{model.city}}</span>
            <sfc-stars *ngIf="stars" [value]="stars" [sfcComponentSize]="ComponentSize.Small"></sfc-stars>
        </div>
    </div>
</div>