<div class="container">
    <div class="title">
        <sfc-title [sfcComponentSize]="ComponentSize.Medium" [label]="Localization.TITLE.LABEL"
            [description]="Localization.TITLE.DESCRIPTION" [tooltip]="Localization.TITLE.TOOLTIP" [delimeter]="false">
        </sfc-title>
    </div>

    <div class="content">
        <div class="filters">
            <form [formGroup]="searchForm" autocomplete="off">
                <div class="form">
                    <div class="name">
                        <sfc-text-input id="name" formControlName="name" [sfcFocusInput]="true"
                            [showPlaceholderOnFocus]="true" [icon]="faMagnifyingGlass"
                            [placeholder]="Localization.FILTER.NAME.PLACEHOLDER" [bordered]="true" [sfcComponentSize]
                            [customSize]="1.3">
                        </sfc-text-input>
                    </div>

                    <div class="status">
                        <sfc-bubbles-input id="statuses" formControlName="statuses" [items]="Constants.STATUSES"
                            [helperText]="Localization.FILTER.STATUSES.HELPER_TEXT">
                        </sfc-bubbles-input>
                    </div>
                </div>
            </form>
        </div>

        <div class="table">
            <sfc-table [predicate$]="predicate$" [loader]="loader.bind(this)" [pagination]="TableConstants.PAGINATION"
                [loadType]="LoadContainerLoadType.Button" [showColumns]="false" [dataToggle]="false"
                [dataType]="TableDataType.Cards" [showTotal]="true" [showLoading]="showLoading"
                [totalLabel]="TableLocalization.TOTAL_LABEL" [notFoundLabel]="TableLocalization.NOT_FOUND_LABEL"
                [loadMoreLabel]="TableLocalization.LOAD_MORE_LABEL">
                <ng-template [sfcTemplateReference]="TableTemplate.Card" let-row>
                    <sfc-badge-card [model]="row.model.data"></sfc-badge-card>
                </ng-template>
            </sfc-table>
        </div>
    </div>
</div>