@import "./variables";
@import "../../components1";
@import "../mixins";

@mixin row-host() {
  @include host;

  &.pointer {
    cursor: pointer;
  }
}

@mixin row-container() {
  background: $row-container-background-default;
  border-radius: $row-container-border-radius;
  padding: $row-container-padding;
  box-shadow: $row-container-box-shadow;
}

@mixin row-background($background, $background-hover) {
  @include table-content-background($background, $background-hover);
}

@mixin row-background-with-related($background, $background-hover) {
  @include row-background($background, $background-hover);

  .container {
    .content {
      .columns {
        .column {
          &.status {
            @include row-status-column($background-hover);
          }
        }
      }
    }
  }
}

@mixin row-columns() {
  display: flex;
  width: 100%;
}

@mixin row-column() {
  @include table-content-column($row-column-margin);
}

// Columns styles

@mixin row-sequence-column() {
  justify-content: flex-end;
}

@mixin row-enum-column($color: $color-0) {
  @include center-column;

  color: $color;
  font-size: 1em;
  font-weight: bold;
  user-select: none;
  text-align: center;
  padding: 0.5em 0;
  text-transform: capitalize;

  sfc-enum {
    ::ng-deep > .container {
      .content {
        span {
          color: $color;
        }
      }
    }
  }

  sfc-icon {
    font-size: 2em;
  }

  sfc-no-data {
    font-size: 1em;
    color: $color;
  }
}

@mixin row-status-column($background) {
  @include table-content-status-column($background);
}

@mixin row-select-column($border-color: $color-default) {
  @include table-content-select-column($border-color);
}

@mixin row-description-column($no-data: true, $font-size: 0.8em) {
  white-space: pre-wrap;
  color: $color-0;
  font-size: $font-size;
  overflow: hidden;
  text-overflow: ellipsis;

  @if $no-data {
    sfc-no-data {
      color: $color-0;
      font-size: 0.9em;
    }
  }
}

@mixin row-column-player-info($color: $color-0) {
  sfc-player-info {
    ::ng-deep > .container {
      > .info {
        color: $color;

        h3 {
          font-size: 0.9em;
        }

        p {
          color: $color;
        }
      }
    }
  }
}

// End Columns styles
