$row-container-border-radius: 3.125em;
$row-container-padding: 0.5em;
$row-column-margin: 0 0.2em;
$row-container-box-shadow: 0.06em 0.06em 0.31em 0.125em $color-shadow-1;
$row-container-background-default: #fcfcfc;
