@import "ngx-sfc-common/styles";
@import "page1";

:host {
  .container {
    .content {
      @include page-content;

      .parts {
        @include page-content-parts;

        .part {
          @include page-content-part;

          &.top {
            @include page-content-part-top;

            .part-content {
              flex-direction: column;
              align-items: center;

              .title {
                width: 100%;
              }

              .main {
                position: relative;
                width: 100%;

                .menu {
                  position: absolute;
                }

                .preview {
                  margin: 3em 0 1em;
                  width: 100%;
                }
              }
            }
          }

          &.bottom {
            @include page-content-part-bottom;

            .part-content {
              @include center-column;

              .routes {
                width: 60%;
              }
            }
          }
        }
      }
    }
  }
}
