@use "ngx-sfc-common/styles/index" as *;
@import "index";

:host {
  .container {
    @include part;

    .content {
      .progress {
        @include center-column;

        padding: 0.5em 0;

        span {
          @include theme-color($color-7, $color-5);

          width: 100%;
          font-size: 0.7em;
          padding-top: 0.5em;
          text-align: start;
        }
      }
    }
  }
}
