@use "ngx-sfc-common/styles/index" as *;
@import "index";
@include base-page;

:host {
  sfc-modal {
    .changes-warning-body {
      @include center;

      flex-direction: column;
      user-select: none;
      max-width: 20em;
      white-space: pre-wrap;
      text-align: center;

      fa-icon {
        color: $color-yellow-1;
      }

      h3 {
        font-weight: bold;
      }
    }
  }

  .container {
    .content {
      .title {
        .back {
          @include theme-value(color, $color-default, $color-0);

          cursor: pointer;

          span {
            padding-left: 0.5em;
          }

          fa-icon,
          span {
            transition: color $transition-duration-default $transition-timing-function-default;
          }

          &:hover {
            color: $color-hover-default;

            span {
              color: $color-hover-default;
            }
          }
        }
      }

      .form {
        .parts {
          display: flex;
          width: 100%;

          .part {
            @include part;
          }

          .left {
            width: 15%;

            .actions {
              position: relative;
              left: 50%;

              sfc-dropdown-menu {
                ::ng-deep ul > li {
                  > .container {
                    @include square-size(1.8em);
                  }
                }
              }
            }

            div {
              @include center;

              flex-direction: column;
              padding: 0.8em 0;
            }

            .photo {
              sfc-image-input {
                width: 80%;
              }
            }

            .info {
              @include theme-value(color, $color-default, $color-0);

              text-align: center;

              h3 {
                margin: 0.3em 0;
              }

              p {
                @include theme-color($color-8, $color-5);

                font-size: 0.8em;
                margin: 0;

                span {
                  color: $color-hover-default;
                  font-weight: bold;
                }
              }

              h3,
              p {
                white-space: initial;
                word-wrap: break-word;
                max-width: 10em;
                max-height: 10em;
                overflow-y: auto;
              }

              .stars {
                flex-direction: row;
                align-items: flex-start;
              }
            }

            .errors {
              @include error-message;
            }

            .progress {
              .item {
                width: 100%;
                align-items: flex-start;

                span {
                  @include theme-color($color-7, $color-5);

                  font-size: 0.7em;
                  padding-top: 0.5em;
                }
              }
            }
          }

          .combined-part {
            display: flex;
            width: 85%;

            .center {
              width: 100%;

              .invalid-asterisk {
                font-size: 0.5em;
                align-self: baseline;
                padding-left: 0.5em;
                color: $color-failed;
              }

              .tabs-container {
                @include center;

                flex-direction: column;
                padding: 1em 2em 0;
              }
            }

            .right {
              display: flex;
              justify-content: flex-start;
              align-items: baseline;
              flex-direction: column;
              max-width: 15%;

              sfc-stat-total {
                ::ng-deep > .container {
                  flex-direction: column;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .container {
      .content {
        .form {
          form {
            .parts {
              .left {
                width: 30%;
              }

              .combined-part {
                flex-direction: column-reverse;

                .center {
                  width: auto;
                }

                .right {
                  flex-direction: row;
                  max-width: 100%;

                  .element {
                    padding: 1em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      .content {
        .form {
          form {
            .parts {
              flex-direction: column;

              .part {
                &.left {
                  width: auto;

                  .photo {
                    sfc-image-input {
                      width: 60%;
                    }
                  }
                }

                &.right {
                  flex-wrap: wrap;
                  justify-content: center;
                }
              }

              .combined-part {
                flex-direction: column !important;
                width: auto;

                .center {
                  .tabs-container {
                    padding: 0.5em 1em 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 425px) {
    .container {
      .content {
        .form {
          form {
            .parts {
              .combined-part {
                .right {
                  flex-direction: column;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 375px) {
    .container {
      .content {
        .form {
          form {
            .parts {
              .combined-part {
                .center {
                  .tabs-container {
                    padding: 0.5em;
                  }
                }

                .right {
                  flex-direction: column;
                }
              }
            }
          }
        }
      }
    }
  }
}
