<div class="container" [formGroupName]="TeamPlayerFilterPart.General">
    <div class="content">
        <div class="rows">
            <div class="row">
                <div class="column">
                    <sfc-bubbles-input id="statuses" formControlName="statuses" [items]="statuses" [multiple]="true"
                        [label]="Localization.INPUT.STATUSES.LABEL"
                        [helperText]="Localization.INPUT.STATUSES.HELPER_TEXT">
                    </sfc-bubbles-input>
                </div>
            </div>
        </div>
    </div>
</div>