<div class="container">
    <div class="content">
        <div class="columns">
            <div *ngIf="sequenceColumn" class="column sequence" [style.width]="sequenceColumn.calculatedWidth">
                <sfc-circle [color]="Color.White_0" [borderColor]="Color.White_1">{{sequence}}</sfc-circle>
            </div>

            <div *ngIf="selectColumn" class="column select" [style.width]="selectColumn.calculatedWidth">
                <sfc-checkmark [active]="selected" (click)="onSelect()" [type]="CheckmarkType.Circle" [sfcComponentSize]
                    [customSize]="1.2">
                </sfc-checkmark>
            </div>

            <ng-container *ngFor="let column of columns">
                <ng-container [ngSwitch]="column.field">
                    <ng-container *ngSwitchCase="Column.Rating">
                        <div class="column raiting" [style.width]="column.calculatedWidth">
                            <sfc-invite-game-player-info [radius]="Constants.LOGO_RADIUS" [photo]="true" [info]="false"
                                [model]="{
                                    photo: viewModel.photo,
                                    stats: viewModel.stats
                                }">
                            </sfc-invite-game-player-info>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="Column.Information">
                        <div class="column information" [style.width]="column.calculatedWidth">
                            <sfc-invite-game-player-info [radius]="Constants.LOGO_RADIUS" [photo]="false" [info]="true"
                                [model]="{
                                    firstName: viewModel.firstName,
                                    lastName: viewModel.lastName,
                                    city: viewModel.city,
                                    stats: viewModel.stats,
                                    birthday: viewModel.birthday
                                }">
                            </sfc-invite-game-player-info>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="Column.Position">
                        <div class="column position" [style.width]="column.calculatedWidth">
                            <sfc-enum *ngIf="position" [enum]="position"></sfc-enum>
                            <sfc-no-data *ngIf="!position"></sfc-no-data>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="Column.Status">
                        <div class="column status" [style.width]="column.calculatedWidth">
                            <sfc-status [label]="status?.value"></sfc-status>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>

            <div *ngIf="actionsColumn" class="column actions" [style.width]="actionsColumn.calculatedWidth">
                <sfc-dropdown-menu [items]="viewModel.actions!" [bordered]="false" [filled]="true"
                    [position]="[Position.Bottom, Position.Center]" [sfcComponentSize] [customSize]="1">
                </sfc-dropdown-menu>
            </div>
        </div>
    </div>
</div>