<div class="container">
    <div class="content">
        <div *ngIf="progress$ | async as progress" class="item filled">
            <sfc-title [label]="'Progress'" [description]="'How much information was provided.'">
            </sfc-title>

            <div class="container">
                <sfc-progress-line [labelStart]="'Information'" [progress]="progress.percentage"
                    [labelSuffix]="CommonConstants.PERCENTAGE_SYMBOL">
                </sfc-progress-line>
                <span>{{progress.filled}} {{Localization.OF}}
                    {{progress.properties}} {{Localization.FILLED}}</span>
            </div>
        </div>

        <div *ngIf="players$ | async as players" class="item players">
            <sfc-delimeter [label]="'Total'"></sfc-delimeter>

            <div class="container total">
                <div class="container">
                    <sfc-progress-circle [progress]="players.total.count" [total]="players.total.count">
                    </sfc-progress-circle>
                    <span>Such count of players will be send request to join team.</span>
                </div>

                <div class="container">
                    <sfc-progress-circle [progress]="players.total.avarage">
                    </sfc-progress-circle>
                    <span>Avarage stats raiting for choosing players.</span>
                </div>
            </div>

            <sfc-delimeter [label]="'By Positions'"></sfc-delimeter>

            <div class="container" *ngFor="let byPosition of players.footballPositions">
                <sfc-progress-line [labelStart]="byPosition.position" [progress]="byPosition.percentage"
                    [labelSuffix]="CommonConstants.PERCENTAGE_SYMBOL">
                </sfc-progress-line>
                <span>{{byPosition.count}} from
                    {{players.total.count}} players are {{byPosition.position}}.</span>
            </div>
        </div>
    </div>
</div>