@use "ngx-sfc-common/styles/index" as *;
@import "index";

:host {
  > .container {
    @include part;

    .content {
      @include center;

      flex-direction: column;

      .item {
        width: 100%;

        .container {
          @include center;

          flex-direction: column;
          width: 100%;
          padding: 0.5em 0;

          span {
            @include theme-color($color-7, $color-5);

            width: 100%;
            font-size: 0.7em;
            padding-top: 0.5em;
            text-align: start;
          }
        }

        &.players {
          sfc-delimeter {
            font-weight: bold;
            font-size: 0.8em;
          }

          .container {
            padding: 1em 0;

            sfc-progress-line {
              ::ng-deep .container {
                .labels {
                  font-size: 0.7em;
                }
              }
            }

            &.total {
              flex-direction: row;

              span {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
