@use "ngx-sfc-common/styles/index" as *;
@import "index";

:host {
    .container {
        @include part;
        @include center;
        flex-direction: column;

        sfc-toggle-switcher {
            width: 50%;
            align-self: end;
            padding: 0.5em 0;
        }

        sfc-players-by-position-preview {
            padding: 0.5em 0;
        }
    }
}
