@use "ngx-sfc-common/styles/index" as *;
@import "index";

:host {
  .container {
    @include part;

    .content {
      padding: 1em 0;

      .rows {
        @include center-column;

        .row {
          display: flex;
          width: 100%;
          padding: 1em 0;

          .column {
            display: flex;
            width: 100%;
            padding: 0 0.5em;

            &.football-positions {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
