@use "ngx-sfc-common/styles/index" as *;

:host {
  .container {
    position: relative;
    margin: 1.5em 3em;
    width: 4em;
    height: 6.2em;
    border-radius: 0.625em;
    display: inline-block;
    top: 0;
    user-select: none;

    &::before,
    &::after {
      position: absolute;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      background: inherit;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    &::before {
      transform: rotate(60deg);
    }

    &::after {
      transform: rotate(-60deg);
    }

    .circle {
      @include center;

      flex-direction: column;
      text-align: center;

      @include square-size(3.75em);

      position: absolute;
      background: $color-0;
      z-index: 10;
      border-radius: 50%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;

      fa-icon {
        font-size: 2em;
      }
    }

    .ribbon {
      position: absolute;
      border-radius: 0.25em;
      padding: 0.31em 0.31em 0.25em;
      width: 6.25em;
      z-index: 11;
      color: $color-0;
      bottom: 0.75em;
      left: 50%;
      margin-left: -3.4365em;
      height: 0.9375em;
      font-size: 0.875em;
      box-shadow: 0 1px 2px rgb(0 0 0 / 27%);
      text-shadow: 0 2px 2px rgb(0 0 0 / 10%);
      text-transform: uppercase;
      background: linear-gradient(to bottom right, #555 0%, #333 100%);
      cursor: default;
      text-align: center;
    }
  }

  &.type-0 {
    .container {
      background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%);
      color: #ffb300;
    }
  }

  &.type-1 {
    .container {
      background: linear-gradient(to bottom right, #ffc107 0%, #f57c00 100%);
      color: #f68401;
    }
  }

  &.type-2 {
    .container {
      background: linear-gradient(to bottom right, #f48fb1 0%, #d81b60 100%);
      color: #dc306f;
    }
  }

  &.type-3 {
    .container {
      background: linear-gradient(to bottom right, #f4511e 0%, #b71c1c 100%);
      color: #c62828;
    }
  }

  &.type-4 {
    .container {
      background: linear-gradient(to bottom right, #ab47bc 0%, #4527a0 100%);
      color: #7127a8;
    }
  }

  &.type-5 {
    .container {
      background: linear-gradient(to bottom right, #4db6ac 0%, #00796b 100%);
      color: #34a297;
    }
  }

  &.type-6 {
    .container {
      background: linear-gradient(to bottom right, #4fc3f7 0%, #2196f3 100%);
      color: #259af3;
    }
  }

  &.type-7 {
    .container {
      background: linear-gradient(to bottom right, #1976d2 0%, #283593 100%);
      color: #1c68c5;
    }
  }

  &.type-8 {
    .container {
      background: linear-gradient(to bottom right, #cddc39 0%, #8bc34a 100%);
      color: #7cb342;
    }
  }

  &.type-9 {
    .container {
      background: linear-gradient(to bottom right, #4caf50 0%, #1b5e20 100%);
      color: #00944a;
    }
  }

  &.type-10 {
    .container {
      background: linear-gradient(to bottom right, #e0e0e0 0%, #bdbdbd 100%);
      color: #9e9e9e;
    }
  }

  &.type-11 {
    .container {
      background: linear-gradient(to bottom right, #e6ce6a 0%, #b7892b 100%);
      color: #b7892b;
    }
  }
}
