<div class="container">
    <div class="content">
        <sfc-back *ngIf="backNavigationModel" [model]="backNavigationModel"></sfc-back>

        <div class="title">
            <sfc-title [label]="Localization.TITLE.LABEL" [description]="Localization.TITLE.DESCRIPTION"
                [tooltip]="Localization.TITLE.TOOLTIP" [icon]="faQuestionCircle" [sfcComponentSize] [customSize]="1.5">
            </sfc-title>
        </div>

        <div class="parts">
            <div class="part left">
                <sfc-side-menu [model]="menu"></sfc-side-menu>

                <div class="sub-part">
                    <sfc-request-team-player-view-main [request]="model"></sfc-request-team-player-view-main>
                </div>
            </div>

            <div class="part center">
                <router-outlet></router-outlet>
            </div>

            <div class="part right">
                <sfc-request-team-player-preview [player]="model.player" [team]="model.team">
                </sfc-request-team-player-preview>
            </div>
        </div>
    </div>

    <!-- accept player request modal -->
    <sfc-request-team-player-accept-modal (accepted)="onAccepted($event)"></sfc-request-team-player-accept-modal>

    <!-- decline player request modal -->
    <sfc-request-team-player-decline-modal (declined)="onDeclined($event)"></sfc-request-team-player-decline-modal>
</div>