@import "ngx-sfc-common/styles";
@import "common";

:host {
  cursor: default;

  .container {
    border-radius: 1.25em;

    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 1.2em 2em;

      fa-icon {
        color: $color-0;
        padding: 0.6em 0.7em;
        border-radius: 0.8em;
      }

      .info {
        padding: 0 1em;

        p {
          margin: 0;

          span {
            &.value {
              @include text-bold($color-yellow-0, 1.2em);
            }

            &.description {
              @include text-bold($color-2, 0.6em);
            }
          }
        }

        h3 {
          margin: 0;
          font-size: 1.1em;
          color: $color-0;
          padding-top: 0.1em;
        }
      }
    }
  }
}
