@mixin delimeter($vertical: true) {
  @if $vertical {
    sfc-delimeter {
      &.horizontal {
        display: none;
      }

      &.vertical {
        display: inline-table;
      }
    }
  } @else {
    sfc-delimeter {
      &.horizontal {
        display: flex;
      }

      &.vertical {
        display: none;
      }
    }
  }
}
