<div class="container">
    <div class="title">
        <sfc-title [sfcComponentSize]="ComponentSize.Medium" [label]="Localization.TITLE.LABEL"
            [description]="Localization.TITLE.DESCRIPTION" [tooltip]="Localization.TITLE.TOOLTIP" [delimeter]="false">
        </sfc-title>
    </div>

    <div class="content">
        <div class="filters">
            <form [formGroup]="searchForm" autocomplete="off">
                <div class="form">
                    <div class="name">
                        <sfc-text-input id="name" formControlName="name" [sfcFocusInput]="true"
                            [showPlaceholderOnFocus]="true" [icon]="faMagnifyingGlass"
                            [placeholder]="Localization.FILTER.NAME.PLACEHOLDER" [bordered]="true" [sfcComponentSize]
                            [customSize]="1.3">
                        </sfc-text-input>
                    </div>

                    <div class="status">
                        <sfc-bubbles-input id="statuses" formControlName="statuses" [items]="statuses"
                            [helperText]="Localization.FILTER.STATUSES.HELPER_TEXT">
                        </sfc-bubbles-input>
                    </div>
                </div>
            </form>
        </div>

        <div class="table">
            <sfc-table [columns]="TableConstants.COLUMNS" [predicate$]="predicate$" [loader]="loader.bind(this)"
                [pagination]="TableConstants.PAGINATION" [position]="Position.Center" [showColumns]="true"
                [dataToggle]="true" [columnsToggle]="true" [showTotal]="true" [showLoading]="showLoading"
                [paginationCount]="TableConstants.PAGINATION_COUNT" [paginationLimits]="true"
                [showColumnsLabel]="TableLocalization.COLUMNS_SHOW_LABEL"
                [hideColumnsLabel]="TableLocalization.COLUMNS_HIDE_LABEL" [totalLabel]="TableLocalization.TOTAL_LABEL"
                [dataListLabel]="TableLocalization.DATA_LIST_LABEL"
                [dataCardsLabel]="TableLocalization.DATA_CARDS_LABEL"
                [notFoundLabel]="TableLocalization.NOT_FOUND_LABEL">
                <ng-template [sfcTemplateReference]="TableTemplate.Row" let-row>
                    <sfc-game-row [model]="row.model.data" [columns]="row.columns"></sfc-game-row>
                </ng-template>
            </sfc-table>
        </div>
    </div>
</div>