<div class="container" [formGroupName]="GameCreatePageEditPart.Teams">
    <sfc-title [label]="Localization.TITLE.LABEL" [description]="Localization.TITLE.DESCRIPTION"
        [icon]="faQuestionCircle" [tooltip]="Localization.TITLE.TOOLTIP" [sfcComponentSize] [customSize]="1"
        [delimeter]="true">
    </sfc-title>

    <div class="content">
        <div class="parts">
            <div class="part teams">
                <div class="team">
                    <sfc-avatar-input id="teamAId" formControlName="teamAId" [radius]="60" [stars]="false"
                        [progress]="false" [label]="Localization.INPUT.TEAM.A.LABEL"
                        [helperText]="Localization.INPUT.TEAM.A.HELPER_TEXT" [icon]="faA" [hideOnClickOutside]="false"
                        [clear]="true" [defaultAvatar]="CoreConstants.DEFAULT_TEAM_A_IMAGE_PATH"
                        [applyLabel]="CoreLocalization.OK" [cancelLabel]="CoreLocalization.CANCEL"
                        [avatarModel]="teamAAvatarModel" (changeValueModel)="gamePreviewService.updateTeamA($event)"
                        [validations]="{
                            'sfc-compare-than': ValidationLocalization.NOT_EQUAL
                        }">
                        <ng-template [sfcTemplateReference]="AvatarInputTemplate.ModalBody" let-context>
                            <sfc-avatar-input-teams-modal-body [value]="context.value"
                                (selectTeam)="onSelectTeam($event, context)">
                            </sfc-avatar-input-teams-modal-body>
                        </ng-template>
                    </sfc-avatar-input>
                </div>

                <div class="team">
                    <sfc-avatar-input id="teamBId" formControlName="teamBId" [radius]="60" [stars]="false"
                        [progress]="false" [label]="Localization.INPUT.TEAM.B.LABEL"
                        [helperText]="Localization.INPUT.TEAM.B.HELPER_TEXT" [icon]="faB" [hideOnClickOutside]="false"
                        [clear]="true" [defaultAvatar]="CoreConstants.DEFAULT_TEAM_B_IMAGE_PATH"
                        [applyLabel]="CoreLocalization.OK" [cancelLabel]="CoreLocalization.CANCEL"
                        [avatarModel]="teamBAvatarModel" (changeValueModel)="gamePreviewService.updateTeamB($event)"
                        [validations]="{
                            'sfc-compare-than': ValidationLocalization.NOT_EQUAL
                        }">
                        <ng-template [sfcTemplateReference]="AvatarInputTemplate.ModalBody" let-context>
                            <sfc-avatar-input-teams-modal-body [value]="context.value"
                                (selectTeam)="onSelectTeam($event, context)">
                            </sfc-avatar-input-teams-modal-body>
                        </ng-template>
                    </sfc-avatar-input>
                </div>
            </div>

            <div class="part tip">
                <p>{{Localization.TIP}}</p>
            </div>

            <div class="part delimeter">
                <sfc-delimeter></sfc-delimeter>
            </div>


            <div class="part actions">
                <sfc-form-progress-actions [key]="Constants.Progress.key" [form]="teamsForm">
                </sfc-form-progress-actions>
            </div>
        </div>

    </div>
</div>