<header>
    <div class="logo">
        <sfc-logo routerLink="/"></sfc-logo>
        <sfc-hamburger-menu [open]="(headerService.open$ | async) || false" (click)="headerService.toggle()">
        </sfc-hamburger-menu>
    </div>
    <nav>
        <ul>
            <li *ngFor="let navigation of navigations">
                <a (click)="navigation.click()">{{navigation.label}}</a>
            </li>
        </ul>
    </nav>
    <div class="right">
        <sfc-language-toggler></sfc-language-toggler>
        <sfc-delimeter [direction]="Direction.Vertical"></sfc-delimeter>
        <ng-content></ng-content>
    </div>
</header>