@import "ngx-sfc-common/styles";
@import "common";

:host {
  width: 100%;

  .container {
    .content {
      .parts {
        @include wrap-column(1em);

        .part {
          width: 100%;

          &.top {
            .part-content {
              @include wrap-row(1em);

              sfc-title {
                flex: 6;
              }

              form {
                display: flex;
                justify-content: flex-end;
                flex: 1;

                sfc-select-input {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}
