@use "ngx-sfc-common/styles/index" as *;
@import "share/components/features/player/search/filters/styles";
@import "share/components/features/player/search/table/styles";
@import "index";
@include base-page;

:host {
  .container {
    .content {
      .additional {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .statistics {
          .statistic-content {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
          }

          sfc-info-panel {
            margin: 0.5em;
            flex-grow: 1;
          }
        }

        .recommendations {
          display: none;
          width: 100%;
          flex-wrap: wrap;
          justify-content: space-evenly;

          .recommendation {
            @include part;

            width: 100%;

            sfc-players-recommendation {
              ::ng-deep > .container {
                justify-content: space-evenly;

                sfc-player-recommendation {
                  > .container {
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }

      .form {
        form {
          .filters {
            @include part;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 25%;

            sfc-collapse-expand-container {
              width: 100%;
              padding: 0.5em 0;

              ::ng-deep > .container {
                align-items: normal;

                sfc-collapse-expand {
                  font-size: 0.9em;
                }
              }
            }
          }

          .main {
            @include part;

            background: none !important;
            width: 100%;

            .modal {
              @include players-filters-button;

              sfc-button {
                display: none;
              }

              sfc-modal {
                @include players-filters-modal;
              }
            }

            .name {
              @include players-filters-name;
            }

            @include players-table;
          }
        }
      }

      .recommendations {
        &:not(:empty) {
          width: 25%;
        }

        .recommendation {
          display: flex;
          flex-direction: column;

          @include part;

          padding: 1em;

          sfc-close {
            align-self: flex-end;
          }

          &.location {
            padding-top: 1em;
          }
        }
      }
    }
  }

  @media (max-width: 1440px) {
    .container {
      .content {
        .form {
          form {
            .filters {
              width: 35%;
            }

            .recommendations {
              display: none;
            }
          }
        }

        .additional {
          .recommendations {
            display: flex;
            flex-wrap: nowrap;

            sfc-players-recommendation {
              ::ng-deep > .container {
                flex-direction: row;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .container {
      .content {
        .form {
          form {
            .filters {
              display: none;
            }

            .main {
              .modal {
                sfc-button {
                  display: inline-block;
                }
              }
            }
          }
        }

        .additional {
          .recommendations {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      .content {
        .form {
          form {
            .main {
              sfc-table {
                ::ng-deep > .container {
                  .columns-container {
                    .columns {
                      justify-content: center;
                    }
                  }
                }
              }

              .modal {
                sfc-modal {
                  ::ng-deep > .overlay {
                    > .content {
                      padding: 0.9em 1em;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 425px) {
    .container {
      .content {
        .additional {
          .statistics {
            sfc-collapse-expand-container {
              ::ng-deep .container {
                sfc-collapse-expand {
                  width: 100%;
                }
              }
            }

            sfc-info-panel {
              ::ng-deep > .container {
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
              }
            }
          }
        }

        .form {
          form {
            .main {
              sfc-table {
                ::ng-deep > .container {
                  > .columns-container {
                    > .columns {
                      flex-direction: column;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 375px) {
    .container {
      .content {
        .additional {
          .statistics {
            sfc-info-panel {
              ::ng-deep > .container {
                padding: 0.5em 1em;
              }
            }
          }
        }

        .form {
          form {
            .main {
              sfc-table {
                ::ng-deep > .container {
                  > .columns-container {
                    > .columns-actions {
                      flex-direction: column-reverse;

                      .right {
                        margin-left: initial;

                        sfc-toggle-switcher {
                          margin-left: initial;
                          padding: 0.5em 0;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 320px) {
    .container {
      .content {
        .additional {
          .statistics {
            sfc-info-panel {
              min-width: 10em;
            }
          }
        }

        .form {
          form {
            .main {
              margin: 0;

              .modal {
                .modal-filters {
                  width: 90%;
                }
              }
            }
          }
        }
      }
    }
  }
}
