<div class="container" [formGroupName]="EditPagePart.Stats" *ngIf="vm$ | async as vm">
  <sfc-title [sfcComponentSize] [customSize]="1.5" [label]="Localization.TITLE.LABEL"
    [description]="Localization.TITLE.DESCRIPTION" [tooltip]="Localization.TITLE.TOOLTIP">
  </sfc-title>

  <sfc-stats-skills [value]="vm.stats"></sfc-stats-skills>

  <div class="items">
    <div class="part" *ngFor="let stat of statsModel; let i = index">
      <div class="header" *ngIf="vm.model[stat.key] as model">
        <div class="title">
          <h3>{{stat.label}}</h3>
          <span [style.color]="model.color">{{model.average}}</span>
        </div>
        <sfc-progress-line [progress]="model.average" [hideEnd]="true">
        </sfc-progress-line>
      </div>

      <div class="content" [formGroupName]="stat.key">
        <div class="line" *ngFor="let statItem of stat.items; let i = index">
          <span class="label">{{statItem.label}}</span>
          <sfc-number-input id="{{statItem.key}}" [formControlName]="statItem.key" [min]="0" [max]="100"
            [disableNext]="!isStatIncreaseAvailable" [disablePrevious]="!isStatDecreaseAvailable" [sfcComponentSize]
            [customSize]="0.7">
          </sfc-number-input>
        </div>
      </div>
    </div>
  </div>
</div>