<div class="container">
    <div class="content">
        <form [formGroup]="form" autocomplete="off">
            <div class="parts">
                <div class="part top">
                    <div class="part-content">
                        <div class="preview">
                            PREVIEW
                        </div>

                        <div class="steps">
                            STEPS
                        </div>
                    </div>
                </div>

                <div class="part bottom">
                    <div class="part-content">
                        <div class="routes">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>