$card-container-border-radius: 1.75em;
$card-container-padding: 1em;
$card-column-margin: 0.2em 0;
$card-container-box-shadow: 0 0.625em 1.25em $color-shadow-2, 0 0.3753em 0.3753em $color-shadow-3;
$card-container-background-default: #fcfcfc;
