@use "ngx-sfc-common/styles/index" as *;
@import "index";

:host {
  .container {
    @include part;

    .content {
      @include center;

      flex-direction: column;

      .row {
        display: flex;
        width: 100%;
        padding: 1em 0;

        .column {
          display: flex;
          width: 100%;
          padding: 0 0.5em;
        }
      }
    }
  }
}
