<div class="container" [formGroupName]="GameProfileEditPart.Financial">
    <sfc-title [label]="Localization.TITLE.LABEL" [description]="Localization.TITLE.DESCRIPTION"
        [icon]="faQuestionCircle" [tooltip]="Localization.TITLE.TOOLTIP" [sfcComponentSize] [customSize]="1"
        [delimeter]="true">
    </sfc-title>

    <div class="content">
        <div class="parts">
            <div class="part inputs">
                <div class="rows">
                    <div class="row">
                        <div class="columns">
                            <div class="column free-game">
                                <sfc-checkbox-input id="freeGame" formControlName="freeGame"
                                    [checkmarkType]="CheckmarkType.Rounded"
                                    [sideLabel]="Localization.INPUT.FREE_GAME.SIDE_LABEL"
                                    [helperText]="Localization.INPUT.FREE_GAME.HELPER_TEXT">
                                </sfc-checkbox-input>
                            </div>

                            <div class="column pay-amount" [sfcShowHideElement]="!((freeGame$ | async) || false)">
                                <sfc-number-input id="payAmount" formControlName="payAmount"
                                    [placeholder]="Localization.INPUT.PAY_AMOUNT.PLACEHOLDER"
                                    [helperText]="Localization.INPUT.PAY_AMOUNT.HELPER_TEXT" [edit]="true"
                                    [fixedActions]="false" [fixedWidth]="true" [sign]="false"
                                    [min]="ValidationConstants.MIN_NUMBER_VALUE" [validations]="{
                                        required: ValidationLocalization.REQUIRED,
                                        min: minValidationMessage(Constants.MIN_PAY_AMOUNT)
                                    }" [sfcComponentSize] [customSize]="1">
                                </sfc-number-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="part delimeter">
                <sfc-delimeter></sfc-delimeter>
            </div>

            <div class="part actions">
                <sfc-form-progress-actions [key]="Constants.PROGRESS_KEY" [form]="financialForm">
                </sfc-form-progress-actions>
            </div>
        </div>
    </div>
</div>