@import "ngx-sfc-common/styles";
@import "inputs";

:host {
  .container {
    .content {
      padding: 1em 0;

      .parts {
        @include center-column;

        .part {
          @include center;

          width: 100%;

          &.inputs {
            .rows {
              display: flex;
              align-items: flex-start;
              justify-content: center;
              flex-direction: column;
              width: 100%;

              .row {
                padding: 1em 0;
                width: 100%;

                .columns {
                  display: flex;
                  align-items: flex-start;
                  justify-content: flex-start;
                  width: 100%;

                  .column {
                    padding: 0 0.5em;
                    width: 40%;

                    &.free-game {
                      width: 25%;
                    }

                    &.pay-amount {
                      width: auto;

                      sfc-number-input {
                        ::ng-deep .container {
                          .content {
                            .component {
                              sfc-number-spinner {
                                .container {
                                  span {
                                    font-size: initial;

                                    &.label {
                                      padding: 0.1em 0.3em;
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          &.delimeter {
            margin: 0 0 1em;

            sfc-delimeter {
              width: 100%;
            }
          }

          &.actions {
            sfc-button {
              margin: 0 0.5em;
            }
          }
        }
      }
    }
  }
}
